* {
  margin: 0px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.form_container {
  margin-top: 15px;
}

.title_container input {
  border-radius: 15px 15px 0 0;
}

.description_container textarea {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
  width: 100%;
  height: auto;
  resize: none;
  background-color: #fff;
}

.importance_container select {
  width: 100px;
}

input {
  border: 0px;
  border-radius: 0px;
}

input:focus {
  outline: none;
}

.description_container textarea:focus {
  outline: none;
}
