* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  width: 28px;
  height: 28px;
  color: rgba(255, 0, 0, 0.608);
}
