* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(30, 30, 33);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 30, 33);
}

.title_container {
  margin-top: 50px;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
}

.line,
.line2,
.line3 {
  position: absolute;
  border: 2px solid rgb(245, 27, 27);
  border-radius: 50%;
}

.line {
  width: 200px;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: expand 4s both alternate infinite;
}

.line2 {
  width: 250px;
  height: 250px;
  background-color: transparent;
  animation: expand 3s both alternate infinite;
}

.line3 {
  width: 300px;
  height: 300px;
  background-color: transparent;
  animation: expand 2s both alternate infinite;
}

@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.line p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(24, 24, 32);
  background-color: red;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 35px;
  animation: expand2 8s both alternate infinite;
}

@keyframes expand2 {
  from {
    transform: scale(-1);
  }
  to {
    transform: scale(1.1);
  }
}

.intro_container {
  margin-top: 50px;
  /* background-color: green; */
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}
