* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  height: 120px;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hamburguer__menu {
  display: none;
}

.menu__open {
}

.menu__close {
}

.items__menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.nav__der__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;
  width: 400px;
  background-color: green;
}

.home__container {
  margin-left: 50px;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
}

.notes__container {
  margin-left: 50px;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
}

.line1,
.line2 {
  position: absolute;
  border: 0.5px solid rgb(245, 27, 27);
  border-radius: 50%;
}

.line1 {
  width: 80px;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line2 {
  width: 100px;
  height: 100px;
  background-color: transparent;
  animation: expand 8s both alternate infinite;
}

.line3 {
  position: absolute;
  border: 0.5px solid rgb(247, 249, 247);
  width: 130px;
  background-color: transparent;
  animation: expand 8s both infinite;
}

.line3.rotated {
  animation: rotate 2s forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes expand {
  from {
    transform: scale(-1);
  }
  to {
    transform: scale(1.1);
  }
}

.nav__link {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.dropdown__container {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(6, 6, 6) 1px;
  cursor: pointer;
  background-color: gold;
}

.linedrop {
  position: relative;
  border: 0.5px solid rgb(245, 27, 27);
  border-radius: 50%;
  width: 100px;
  left: -20%;
  animation: movedic 2s infinite linear;
  transform-origin: top center;
}

.dropdown__content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  transform: translateX(-20%);
}

.dropdown__content a {
  color: #fff;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 15px;
}

.dropdown__content a:hover {
  background-color: goldenrod;
}

.dropdown:hover .dropdown__content {
  display: block;
  border-radius: 50%;
}

.dropdown:hover .dropbtn {
  background-color: #f60505;
}

@keyframes movedic {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.dropdown:hover .linedrop {
  animation: movedic;
}

.logout__container {
  /* margin-right: 10px; */
  /* background-color: red; */
}

.signin__container {
  /* background-color: transparent; */
}

.nav__link__sesion {
  font-size: 20px;
}

.nav__title {
  font-size: 30px;
}

.menu__item:hover .menu__link {
  border-bottom: solid green 1px;
  box-shadow: 0px 0px 10px red;
}

.menu__link {
  text-decoration: none;
  font-size: 30px;
  padding: 5px;
}

/* 
////////////////---------------//////////////////////////////////////////////////////////
///////////////---------------//////////////////////////////////////////////////////////
*/

@media (max-width: 768px) {
  .container {
    height: 50px;
  }

  .nav__container {
    display: flex;
    justify-content: end;
    height: 50px;
  }

  .hamburguer__menu {
    display: flex;
    margin-right: 10px;
  }

  .menu__open {
    color: black;
    font-size: 40px;
  }

  .menu__close {
    color: black;
    font-size: 40px;
  }

  .items__menu__container {
    display: none;
    flex-direction: column;
    width: 90%;
    top: 50px;
    padding: 5px;
    position: absolute;
    background-color: aqua;
    z-index: 2;
  }

  .nav__der__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    height: 70px;
    margin-bottom: 10px;
  }

  .home__container {
    color: #fff;
    border-radius: 0px;
    margin: 0px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
  }

  .notes__container {
    color: #fff;
    border-radius: 0px;
    margin: 0px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
  }

  .nav__link {
    font-size: 25px;
    color: #fff;
  }

  .line1,
  .line2,
  .line3 {
    width: 0px;
    height: 0px;
    border: 0px;
  }

  .dropdown__container {
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(6, 6, 6) 1px;
    cursor: pointer;
    background-color: gold;
  }

  .linedrop {
    position: relative;
    border: 0.5px solid rgb(245, 27, 27);
    border-radius: 50%;
    width: 100px;
    left: -20%;
    animation: movedic 2s infinite linear;
    transform-origin: top center;
  }

  .dropdown__content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    transform: translateX(-20%);
  }

  .dropdown__content a {
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 15px;
  }

  .dropdown__content a:hover {
    background-color: goldenrod;
  }

  .dropdown:hover .dropdown__content {
    display: block;
    border-radius: 50%;
  }

  .dropdown:hover .dropbtn {
    background-color: #f60505;
  }

  @keyframes movedic {
    0% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }

  .dropdown:hover .linedrop {
    animation: movedic;
  }

  .menu__item {
    margin: 5px;
    border-bottom: red solid 2px;
    width: 50%;
    text-align: center;
  }

  .menu__link {
    font-size: 25px;
  }

  .show {
    display: flex;
  }
}
